body {
	font-family: 'Poppins', sans-serif;
	background: #E5EEFF;
	color: #071E55;
}

.display-4 {
	font-family: Poppins Black;
	letter-spacing: 0.1em;
}

#logo {
	width: 120px;
}

.img-hero {
	width: 321px;
	height: 274px;
}

.navbar {
	font-weight: bold;
}

#searchBar {
	background: #FFFFFF;
	box-shadow: 10px 10px 15px rgba(202, 202, 202, 0.5);
	border-radius: 30px;
}

.input-group,
.form-control {
	border-style: none;
}

#searchButton {
	background: #31A2C2;
	border-radius: 30px;
	color: #FFFFFF;
	padding-inline: 30px;
	border-style: none;
}

.img-icon {
	font-size: 24px;
	color: #fff;
	display: inline-flex;
	padding: 12px;
	text-align: center;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
}

.bg-red {
	background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-blue {
	background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important
}

.bg-green {
	background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.section {
	padding-block: 5rem;
}

.card {
	background: #FFFFFF;
	box-shadow: 10px 10px 15px rgba(202, 202, 202, 0.5);
	border-radius: 30px;
}

.card-header {
	border-style: none;
}

.size {
	width: 60%;
	height: 60%;
}
